#slider-range #range-1a, #slider-range #range-1b{ display:none;}
.ui-slider-bg{ position:relative;}
.tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    padding: 5px;
    visibility: visible;
    bottom:120%;
    margin-left: -5em;
	left:0%;
}
.tooltip .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
}
.tooltip-inner {
    width:200px;
    padding: 3px 8px;
    color: #222222;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
	border:1px solid #d3d2d2;
	padding:10px 20px;
	font-weight:normal;
}
.small{ margin-left:-2.6em;}
.small .tooltip-inner{ width:70px;}
#time-range p, #range-2a{
	display:none;
}
.slider-time{
	font-weight:normal!important;
}
.sliderText{
	font-weight:normal!important;
	text-align:right;
}
.timeSliderBar .ui-collapsible-content{ padding:50px 15px 15px 15px;}
.timeSliderBar h3{ position:relative;}
.timeSliderBar .sliderText{ position:absolute; right:5px; top:0px;}
.timeSliderBar h3 .ui-btn-text{ float:left;}
.alignright{float: right;right: 92px;position: relative;top: 10px;}
